/*PRIMER PARTE*/

.titulo {
  font-family: titulos;
  color: #D2AE77;
  font-size: 3vw;
  text-align: left;
  margin: 3% 0;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  width: 90%;
  margin: 4% auto;
  flex-wrap: wrap;
}

.contenedor img {
  width: 40%;
  height: auto;
  border-radius: 5px;
}

.textoprincipal {
  font-family: subtitulos;
  font-size: 1.4vw;
  padding: 2%;
  width: 50%;
  line-height: 1.6;
  color: white;
}

/*SEGUNDA PARTE*/

.subtitulo {
  font-family: titulos;
  color: #D2AE77;
  font-size: 1vw;
  text-align: center;
  width: 80%;
  margin: 3% auto;
  line-height: 1.5;
}

.makingof {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
  width: 90%;
  margin: 4% auto;
}

.img2 {
  width: 45%;
  height: auto;
  border-radius: 5px;
}

/*TERCERA PARTE*/

h3 {
  font-family: subtitulos;
  font-size: 1.8vw;
  margin: 3% 5% 1% 5%;
  color: #D2AE77;
}

p {
  font-family: textos;
  font-size: 1.2vw;
  margin: 1% 5%;
  line-height: 1.5;
}

.ultimocontenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3%;
  margin: 4% auto;
  width: 90%;
}

.ultimocontenedor img {
  width: 45%;
  height: auto;
  border-radius: 5px;
}

.ultimocontenedor span {
  font-family: textos;
  font-size: 1.3vw;
  width: 45%;
  line-height: 1.6;
}

/*RESPONSIVE*/

@media (max-width: 768px) {
  .titulo {
    font-size: 6vw;
  }

  .subtitulo {
    font-size: 4.5vw;
    width: 90%;
    margin: 6% auto;
  }

  .textoprincipal {
    width: 90%;
    font-size: 4vw;
  }

  .contenedor {
    flex-direction: column;
    text-align: center;
  }

  .contenedor img {
    width: 90%;
    margin-bottom: 5%;
  }

  .makingof img {
    width: 90%;
  }

  h3 {
    font-size: 4vw;
  }

  p {
    font-size: 3.8vw;
  }

  .ultimocontenedor {
    flex-direction: column;
    text-align: center;
  }

  .ultimocontenedor span,
  .ultimocontenedor img {
    width: 90%;
  }

  .ultimocontenedor span {
    font-size: 3.8vw;
  }
}